In [1]:
import pandas as pd

In [2]:
dataset= pd.read_csv("data.csv")

In [3]:
dataset.head()

   SN         Date       Time  Temperature  Humidity
0   1   2021-02-14   11:35:03         19.0      58.0
1   2   2021-02-14   11:35:12         19.0      58.0
2   3   2021-02-14   11:35:19         19.0      58.0
3   4   2021-02-14   11:36:14         19.0      54.0
4   5   2021-02-14   11:37:03          9.0     155.0

In [4]:
alldata = []
for i in range(dataset.shape[0]):
    temp=dataset.iloc[i]
    alldata.append(dict(temp))

In [8]:
alldata[:10]

[{'SN': 1,
  'Date': ' 2021-02-14',
  'Time': ' 11:35:03',
  'Temperature': 19.0,
  'Humidity': 58.0},
 {'SN': 2,
  'Date': ' 2021-02-14',
  'Time': ' 11:35:12',
  'Temperature': 19.0,
  'Humidity': 58.0},
 {'SN': 3,
  'Date': ' 2021-02-14',
  'Time': ' 11:35:19',
  'Temperature': 19.0,
  'Humidity': 58.0},
 {'SN': 4,
  'Date': ' 2021-02-14',
  'Time': ' 11:36:14',
  'Temperature': 19.0,
  'Humidity': 54.0},
 {'SN': 5,
  'Date': ' 2021-02-14',
  'Time': ' 11:37:03',
  'Temperature': 9.0,
  'Humidity': 155.0},
 {'SN': 6,
  'Date': ' 2021-02-14',
  'Time': ' 11:37:15',
  'Temperature': 19.0,
  'Humidity': 59.0},
 {'SN': 7,
  'Date': ' 2021-02-14',
  'Time': ' 11:37:22',
  'Temperature': 19.0,
  'Humidity': 59.0},
 {'SN': 8,
  'Date': ' 2021-02-14',
  'Time': ' 11:37:28',
  'Temperature': 19.0,
  'Humidity': 53.0},
 {'SN': 9,
  'Date': ' 2021-02-14',
  'Time': ' 11:37:34',
  'Temperature': 19.0,
  'Humidity': 53.0},
 {'SN': 10,
  'Date': ' 2021-02-14',
  'Time': ' 11:37:40',
  'Temperature': 20.0,
  'Humidity': 53.0}]